.custom-checkbox-container {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 1px solid #2f2f2f;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.checkmark::after {
    content: "x";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #008002;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.custom-checkbox:checked + .checkmark::after {
    display: block;
}

.custom-checkbox:checked + .checkmark {
    border-color: #008002;
    background-color: #008002;
}

.custom-checkbox:checked + .checkmark + .label-text {
    color: #008002;
    text-decoration: line-through;
}
